body {
    background-color: #141414;
    overflow-x: hidden;
    width: 100vw;
}
  
.netflix-padding-left {
    padding-left: 57px;
}
  
.netflix-padding-right {
    padding-right: 57px;
}
  
.netflix-navbar {
    z-index: 1000;
    transition: background 0.2s linear;
    position: fixed;
    width: 100vw;
}
  
.navbar-brand img {
    width: 100px;
}
  
.netflix-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.netflix-row .left {
    width: max-content;
}

.netflix-row .right {
    width: max-content;
}
  
.netflix-dropdown-box {
    display: none;
}
  
.netflix-dropdown {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 9px;
}
  
.netflix-dropdown-box .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.784);
    font-size: 9px;
    color: #fff;
    margin-left: -80px;
    border-top: 3px solid #fff;
    margin-top: 30px;
}
  
.netflix-dropdown-box .dropdown-menu .dropdown-item {
    color: rgba(255, 255, 255, 0.646);
    text-align: center;
    width: 250px;
    font-size: 15px;
    padding: 10px 20px;
}
  
.netflix-dropdown-box .dropdown-menu .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.133);
    color: #fff;
}
  
i {
    font-size: 20px;
    color: #fff;
    padding: 5px 20px;
}
  
.netflix-profile {
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 4px;
    margin-left: 20px;
    cursor: pointer;
}
.netflix-nav {
    display: block;
    align-items: center;
}
  
.netflix-nav button {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.623);
    border: none;
    font-size: 13px;
}
  
.netflix-nav button:hover {
    color: #fff;
}
  
.netflix-principal-video {
    width: 100%;
    position: relative;
    z-index: 10;
}

.netflix-principal-video .top {
    position: absolute;
    width: 100%;
    height: 40px;
    top: 0%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}
  
.netflix-principal-video .bottom {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #141414);
}
  
.netflix-principal-video video {
    width: 100%;
}
  
.netflix-principal-video .video-content {
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 100;
    display: flex;
}
  
.netflix-principal-video .video-content .left {
    margin-left: 80px;
}

.netflix-principal-video .video-content .left .img {
    margin-top: 190px;
}
  
@media (max-width: 768px) {
    .netflix-padding-left {
      padding-left: 10px;
    }
  
    .netflix-padding-right {
      padding-right: 10px;
    }
    .navbar-brand img {
      width: 43px;
    }
    .navbar {
      padding-top: unset;
      padding-bottom: unset;
    }
    i {
      font-size: 12px;
      cursor: pointer;
      padding: 5px;
    }
    .netflix-profile {
      margin-left: 5px;
    }
    .netflix-dropdown-box {
      display: block;
    }
    .netflix-nav {
      display: none;
    }
    .netflix-principal-video .video-content .left {
      margin-left: 25px;
    }
    .netflix-principal-video .video-content .left .img {
      width: 200px;
      margin-top: 90px;
    }
}