* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  background-color: black;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /* font-family: Arial, sans-serif; */
}

nav {
  position: relative;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0.4) 60%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url('./img/navBackground.jpg');
  width: 100%;
  height: 750px;
  background-size: cover;
  background-position: center;
  z-index: 2;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 55px 20px 55px;
}

.nav-header img {
  width: 170px;
}

.nav-header button {
  background-color: #e50914;
  color: white;
  padding: 4px 20px;
  border-radius: 3px;
}

.drop-down {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 105px;
  height: 35px;
  border: 1px solid;
  border-radius: 2px;
  margin-left: auto;
  margin-right: 30px;
}

select {
  background: transparent;
  color: white;
  font-size: 14px;
}

option {
  color: black;
}

.nav-content {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-wrap: normal;
  flex-direction: column;
  margin-top: 150px;
}

.nav-content h2 {
  max-width: 700px;
  font-size: 60px;
  font-weight: 700;
}

.nav-content p {
  font-size: 25px;
  margin-bottom: 25px;
}

.nav-content h5 {
  max-width: 800px;
  font-size: 18px;
  margin-bottom: 25px;
}

form {
  width: 850px;
  height: 70px;
}

.inputEmail {
  background-color: white;
  width: 60%;
  height: 100%;
  padding: 0 12px;
  font-size: 20px;
  border-radius: 2px 0 0 2px;
}

.inputSubmit {
  background-color: #e50914;
  color: white;
  width: 220px;
  height: 100%;
  font-size: 20px;
  border-radius: 0 2px 2px 0;
  margin: -5px;
}

hr {
  position: relative;
  background: #707070;
  color: black;
  height: 10px;
  margin: -2px auto;
  z-index: 1;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 50px 0;
  /* flex-wrap: wrap; */
  /* padding: -100px 0px; */
}

section .content {
  width: 32%;
  position: relative;
  z-index: 0;
}

section .content h3 {
  font-size: 50px;
  font-weight: 700;
}

section .content p {
  font-size: 28px;
  width: 600px;
}

section .image {
  width: 530px;
}

section img {
  width: 100%;
}

@media (max-width: 576px) {
  nav {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0.4) 60%,
        rgba(0, 0, 0, 20) 100%
      ),
      url('./img/navBackground.jpg');
    height: 70vh;
  }

  .nav-header {
    padding: 1.5rem 1rem;
    margin-bottom: -90px;
  }

  .nav-header img {
    width: 90px;
  }

  .nav-header button {
    padding: 3px 3px;
    border-radius: 3px;
  }

  .drop-down {
    height: 28px;
    margin: auto;
  }

  .nav-content h2 {
    font-size: 27px;
    width: 90%;
    margin-bottom: 10px;
  }

  .nav-content p {
    font-size: 18px;
    width: 85%;
    margin-bottom: 10px;
  }

  .nav-content h5 {
    font-size: 18px;
    width: 80%;
    margin-bottom: 10px;
  }

  form {
    width: 90%;
  }

  .inputEmail {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    font-size: 15px;
    border-radius: 2px;
  }

  .inputSubmit {
    width: 120px;
    height: 40px;
    font-size: 16px;
    margin-top: 15px;
    border-radius: 2px;
  }

  section {
    width: 90%;
    margin: auto;
    padding: 50px 0;
  }

  section .content h3 {
    font-size: 25px;
    font-weight: 650;
    text-align: center;
  }

  section .content p {
    font-size: 18px;
    text-align: center;
    position: relative;
    z-index: 1;
  }

  section .image {
    position: relative;
    margin: -30px 0 0 0;
    z-index: 0;
  }
}
