* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  background-color: black;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

nav {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0.4) 60%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url('./img/navBackground.jpg');
  width: 100%;
  height: 75vh;
  background-size: cover;
  background-position: center;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 75px 20px 55px;
}

.nav-header img {
  width: 135px;
}

.nav-header button {
  background-color: #e50914;
  color: white;
  padding: 4px 20px;
  border-radius: 3px;
}

.drop-down {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 105px;
  height: 35px;
  border: 1px solid;
  border-radius: 2px;
  margin-left: auto;
  margin-right: 25px;
}

select {
  background: transparent;
  color: white;
  font-size: 14px;
}

option {
  color: black;
}

.nav-content {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 140px;
}

.nav-content h2 {
  font-size: 55px;
}

.nav-content p {
  font-size: 25px;
  margin-bottom: 25px;
}

.nav-content h5 {
  font-size: 18px;
  width: 730px;
  margin-bottom: 25px;
}

.inputEmail {
  background-color: white;
  width: 420px;
  height: 60px;
  padding: 0 25px;
  font-size: 20px;
  border-radius: 2px 0 0 2px;
}

.inputSubmit {
  background-color: #e50914;
  color: white;
  position: relative;
  left: -5px;
  width: 180px;
  height: 60px;
  font-size: 20px;
  border-radius: 0 2px 2px 0;
}

hr {
  background: #707070;
  height: 10px;
  margin: -1px auto -1px auto;
}

@media (max-width: 768px) {
  nav {
    height: 70vh;
  }

  .nav-header {
    padding: 1.5rem 1rem;
    margin-bottom: -90px;
  }

  .nav-header img {
    width: 90px;
  }

  .nav-header button {
    padding: 3px 3px;
    border-radius: 3px;
  }

  .drop-down {
    height: 28px;
    margin: auto;
  }

  .nav-content h2 {
    font-size: 27px;
    width: 90%;
    margin-bottom: 10px;
  }

  .nav-content p {
    font-size: 18px;
    width: 85%;
    margin-bottom: 10px;
  }

  .nav-content h5 {
    font-size: 18px;
    width: 80%;
    margin-bottom: 10px;
  }

  .inputEmail {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    font-size: 15px;
    border-radius: 2px;
  }

  .inputSubmit {
    width: 130px;
    height: 40px;
    font-size: 16px;
    margin-top: 15px;
    border-radius: 2px;
  }
}
